html, body { width: 100%; height: 100%; }
.imgsize{
    width : 160px;
    height : 160px;
    border : 1px solid black;
}
#seikaispan{
    font-size: 20px;
}
.main-layout{
  width: 100vw;
  height: 100vh;
}
.grid {
    margin: auto;
    width: 60%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    transition: 2s;
  }
  .room{
    cursor: pointer;
    transition: all 0.4s;
  }
  .room:hover{
    opacity: 0.5;
    filter: blur(3px);
  }
.seikaicontainer {
    width: 70%;
    height: 70%;
    margin: 40px auto;
  }
.outer {
    display: table;
    width: 100%;
    height: 100%;
  }
.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
.centered {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 1em;
    font-size : 60px;
    color : black;
  }